<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  
	  <title>Title of the document</title>
    
	<style>
      div {
        margin-bottom: 10px;
      }
      label {
        display: inline-block;
        width: 120px;
        text-align: right;
		color: #777777
		
		input{
				display: inline-block;
				width: 170px;
				text-align: right;
				color: #777777
				}
      }
	  </style>
	  
	  
	  
	  
   </head>
   <body>
   
	  
      <h1>Raster Credentials</h1>
	  
	
      <form method="post" id="Form_Africa" action='/africa'  enctype=multipart/form-data>
	  
         <label for="username"> Username</label><br>
		 
		 
         <input type="text" id="username" name="username" size="50">
		 
		 
		 <label for ="password">Password</label><br>
		 
		 <input type="text" id="Password" name="Password" size="50">
		 
		 <label for= "catalog">Email</label><br>
		 
		 <input type="text" id="email" name="email" size="50">
		 
		 <label for= "catalog"> Catalog link</label><br>
		 
		 <input type="text" id="Catalog" name="Catalog" size="50" >
		 
		 
		 <label for ="st_date">Startdate</label><br>
		 
		 <input type="text" id="Startdate" name="Startdate" placeholder=""2020-09-01"" size="50">
		 
		 
		 <label for ="en_date">Enddate</label><br>
		 
		 <input type="text" id="Enddate" name="Enddate" placeholder=""2020-12-01""  size="50">
		 
		 <label for ="bbox"> BoundingBox</label><br>
		 
		 <input type="text" id="bbox" name="bbox" placeholder="[37.76, 12.49, 37.77, 12.50]" size="50">
		 
		 
         <input class="submit" type="button" value="Submit" onclick="alert('Please holdon!')">
      </form>
   </body>
</html>